h4 Editor
  
.form-group(ng-show='!prop')
  .text-center No key selected to edit
  a.btn.btn-primary(ng-click='goToKeyBox()') View key list
  
form.form-horizontal(ng-show='prop')
  fieldset.pre-scrollable(ng-switch='prop.tag')
    div(ng-switch-when='input')
      include tags/input
    div(ng-switch-when='select')
      include tags/select
    div(ng-switch-when='textarea')
      include tags/textarea
      
 .text-center(ng-show='prop')
  a.btn.btn-primary.col-sm-6.fa.fa-check(ng-click='saveKey()')
  a.btn.btn-warning.col-sm-6.fa.fa-list(ng-click='goToKeyBox()')
