h4 Editor
  
.form-group(ng-show='!prop')
  .text-center No key selected to edit
  a.btn.btn-primary(ng-click='goToKeyBox()') View key list
  
form.form-horizontal(ng-show='prop')
  fieldset.pre-scrollable
    .form-group
      label.col-md-3.control-label Name
      .col-md-9
        input.form-control(type='text', ng-model='prop.name', disabled='')
    .form-group
      label.col-md-3.control-label Type
      .col-md-9
        select.form-control(ng-model='prop.type')
              option(value='button') button
              option(value='checkbox') checkbox
              option(value='color') color
              option(value='date') date
              option(value='datetime') datetime
              option(value='datetime-local') datetime-local
              option(value='email') email
              option(value='file') file
              option(value='hidden') hidden
              option(value='image') image
              option(value='month') month
              option(value='number') number
              option(value='password') password
              option(value='radio') radio
              option(value='range') range
              option(value='reset') reset
              option(value='search') search
              option(value='tel') tel
              option(value='text') text
              option(value='time') time
              option(value='url') url
              option(value='week') week
    .form-group
      label.col-md-3.control-label Text
      .col-md-9
        input.form-control(type='text', ng-model='prop.text')
    .form-group
      label.col-md-3.control-label Autocomplete
      .col-md-9
        input.form-control(type='checkbox', ng-model='prop.autocomplete')
    .form-group
      label.col-md-3.control-label Autofocus
      .col-md-9
        input.form-control(type='checkbox', ng-model='prop.autofocus')
    .form-group
      label.col-md-3.control-label Checked
      .col-md-9
        input.form-control(type='checkbox', ng-model='prop.checked')
    .form-group
      label.col-md-3.control-label Disabled
      .col-md-9
        input.form-control(type='checkbox', ng-model='prop.disabled')
    .form-group
      label.col-md-3.control-label Pattern
      .col-md-9
          input.form-control(type='text', ng-model='prop.pattern')
      .form-group
        label.col-md-3.control-label Readonly
        .col-md-9
          input.form-control(type='checkbox', ng-model='prop.readonly')
      .form-group
        label.col-md-3.control-label Source
        .col-md-9
          input.form-control(type='text', ng-model='prop.src')
    .form-group
      label.col-md-3.control-label Default Value
      .col-md-9
        input.form-control(type='text', ng-model='prop.value')
    .form-group
      label.col-md-3.control-label Max Length
      .col-md-9
        input.form-control(type='checkbox', ng-model='prop.maxlength')
    .form-group
      label.col-md-3.control-label Min
      .col-md-9
         input.form-control(type='number', ng-model='prop.min')
    .form-group
      label.col-md-3.control-label Max
      .col-md-9
        input.form-control(type='number', ng-model='prop.max')
      
 .text-center(ng-show='prop')
  a.btn.btn-primary.col-sm-6.fa.fa-check(ng-click='saveKey()')
  a.btn.btn-warning.col-sm-6.fa.fa-list(ng-click='goToKeyBox()')
