h4 Keys Feed
span(ng-show='collection') Manage the model's field names
span(ng-show='!collection')
  a.btn.btn-primary(href="#info", data-toggle="tab", role="tab") Add a model/schema name
.input-group(ng-show='collection')
    input.form-control(
      ng-keypress="($event.which === 13)?addKey():0",
      type='text', ng-model='name', required='')
    span.input-group-addon
      a.btn.btn-success(ng-click='addKey()', ng-disabled='!collection')
        span  Add Key 
        i.fa.fa-plus
.pre-scrollable(ng-show='collection')
    table.table
      thead
        tr
          th
          th Name
          th Tag Element
          th Actions
      tbody
        tr(ng-repeat='field in resource.schema')
          td
            input(type='checkbox', ng-model='field.active')
          td
            span(ng-bind='field.name')
          td
            select.form-control(ng-model='field.tag')
              option input
              option select
              option image
              option textarea
          td
            a.btn.btn-primary(ng-show='field.exclude',
              ng-click='excludeToggle(field.name, field.exclude )')
              i.fa.fa-filter
            a.btn.btn-warning(ng-show='!field.exclude',
              ng-click='excludeToggle(field.name, field.exclude )')
              i.fa.fa-user
            a.btn.btn-danger(ng-click='removeKey(field.name)')
              i.fa.fa-trash
            a.btn.btn-success(ng-click='pinKey(field.name)')
              i.fa.fa-bars
            
