h4 Publish
.row
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    h5 Target files
    ul
      li(ng-repeat='target in targets')
        strong(ng-bind='target.name+": "')
        span(ng-bind='target.dir')
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    h5 Instructions
    ul
      li Select your target
      li Identify "resources" key
      li Add/Modify your model
      li Use JSON from "Preview" tab
