h4 Publish
.alert.alert-warning
  .row
    p.col-md-6.col-xs-12 Publish the JSON model
    p.col-md-6.col-xs-12 Replace the current model
    p.col-md-6.col-xs-12 App reboot it is needed
    p.col-md-6.col-xs-12 Review, approve, save

div
  h5 Target selection
  a.btn.btn-primary.col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-repeat='target in targets',ng-click='setTarget(target)')
    span(ng-bind='target.name')
