h4 Starting guide
ul
  li
    i.fa.fa-columns
    span  Model/schema name
  li
    i.fa.fa-list
    span  Model key/property list
  li 
    i.fa.fa-shield
    span  Admin only fields
  li
    i.fa.fa-user
    span  Public field
  li
    i.fa.fa-filter
    span  Protected a field
  li
    i.fa.fa-bars
    span  Edit a field
