h4 Starting guide
ul
  li Write the model name and press 'Enter' 
    i.fa.fa-columns
  li Write the field name and press 'Enter' 
    i.fa.fa-list
  li Uncheck 'Admin only' and users will access 
    i.fa.fa-shield
  li Fields can be public 
    i.fa.fa-user
  li Fields can be protected like password. This is the 'clean' filter
    i.fa.fa-filter
  li To edit a field press pin icon 
    i.glyphicon.glyphicon-pushpin
