include ../../../../views/layouts/app
  head
    title Wizard Forms

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='#{site}')
    meta(name='author', content='#{site}')

    link(rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', href='#{theme}')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/application.min.css')
    
  body.ng-cloak.prototype-red
    include ../../../../views/layouts/navbar
    .container
      include ../../../../views/index/sections/home
    .container
      .row(ng-controller='WizardController', ng-show='token')
        include ../../../../views/layouts/alerts
        include sections/resources
        include sections/models
        include sections/valid
        include sections/missing
    
    include ../layouts/scripts
