.col-xs-12.col-sm-3.col-md-3.col-lg-3
  h4 Active Models
  
  table.table
    thead
      tr
        th Model Name
        th Actions
    tbody
      tr(ng-repeat='name in forms.models')
        td
          .text-center(ng-bind='name')
        td
          a.btn.btn-primary(ng-href='/editor?model={{name}}')
            i.fa.fa-edit
          a.btn.btn-warning(ng-disabled='deleteable(name)', ng-click='destroy(name)')
            i.fa.fa-trash
      tr(ng-show='!forms.models.length')
        td(colspan='2')
          span 0 missing forms
    tfoot
      tr
        td(colspan='2')
          a.btn.btn-danger.col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-click='destAll()')
            i.fa.fa-plus  Destroy all
        
  
