.form-group
  label.col-md-3.control-label Name
  .col-md-9
    input.form-control(type='text', ng-model='prop.name', disabled='')
.form-group
  label.col-md-3.control-label Multiple
  .col-md-9
    input.form-control(type='checkbox', ng-model='prop.multiple')
.form-group
  label.col-md-3.control-label Disabled
  .col-md-9
    input.form-control(type='checkbox', ng-model='prop.disabled')
.form-group
  label.col-md-3.control-label Required
  .col-md-9
    input.form-control(type='checkbox', ng-model='prop.required')
.form-group
  label.col-md-3.control-label Size
  .col-md-9
    input.form-control(type='number', ng-model='prop.size')
