.tab-content
  .tab-pane.fade.in.active#info
    include sections/info
  .tab-pane.fade#filters
    include sections/filters
  .tab-pane.fade#keys
    include sections/keys
  .tab-pane.fade#editor
    include sections/editor
  .tab-pane.fade#preview
    include sections/preview
  .tab-pane.fade#wiki
    include sections/wiki
