ul.nav.nav-tabs(role='tablist')
  li(role='presentation')
    a.fa.fa-columns(data-toggle='tab', href='#info', aria-controls='profile', role='tab')  Info
  li(role='presentation')
    a.fa.fa-list(data-toggle='tab', href='#keys', aria-controls='profile', role='tab')  Keys
  li(role='presentation')
    a.fa.fa-edit(data-toggle='tab', href='#editor', aria-controls='profile', role='tab')  Editor
  li(role='presentation')
    a.fa.fa-filter(data-toggle='tab', href='#filters', aria-controls='profile', role='tab')  Filters
  li(role='presentation')
    a.fa.fa-eye(data-toggle='tab', href='#preview', aria-controls='profile', role='tab')  Preview
  li(role='presentation')
    a.fa.fa-newspaper-o(data-toggle='tab', href='#wiki', aria-controls='profile', role='tab')  Wiki
  li(role='presentation')
    a.fa.fa-bolt(data-toggle='tab', href='#publish', aria-controls='profile', role='tab')  Publish
